{% extends "layout.html" %}
{% block title %}Books{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-8">
    <h3 class="text-dark text-center p-2">Search Result</h3>
    {% if books %}
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="thead-dark">
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td><a class="badge badge-success" href="{{ url_for('search', bookisbn=book[0]) }}">more info</a</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p class="text-center">Displaying {{ total_books }} results....</p>
      <p class="text-center"><a href="{{ url_for('index') }}">Click Here </a>to go back to Search Page</p>
      {% else %}
        <p class="text-center">I am sorry, I couldn't find any matchting books</p>
        <p class="text-center"><a href="{{ url_for('index') }}">Click Here </a>to go back to Search Page</p>
    {% endif %}
  </div>
</div>
{% endblock %}
